streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-core
langchain-text-splitters
langchain-chroma
chromadb
python-dotenv
sentence-transformers
protobuf==5.26.1
pysqlite3-binary
